.DS_Store
node_modules
/dist
.firebase/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/firebaseconfig.js
.firebase
python_scripts/__pycache__
python_scripts/db/__pycache__
python_scripts/.idea
python_scripts/db/.idea
python_scripts/db/.vscode
python_scripts/db/venv
./.firebase/
