<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Course Num</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Grade</th>
                    <th scope="col" style="width:30px"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <select class="form-control">
                            <option value="Mandatory">Mandatory</option>
                            <option value="A' List">A' List</option>
                            <option value="B' List">B' List</option>
                            <option value="Humanistic">Humanistic</option>
                            <option value="Free Choice">Free Choice</option>
                            <option value="Project">Project</option>
                            <option value="Sport">Sport</option>
                            <option value="Exemption">Exemption</option>
                        </select>
                    </td>
                    <td><input class="form-control" max="9999999" min="0" step="1" type="number"></td>
                    <td><input class="form-control" type="text"></td>
                    <td><input class="form-control" max="25" min="0" step="0.5" type="number" value="0.0"></td>
                    <td><input class="form-control" max="100" min="0" step="1" type="number" value="0"></td>
                    <td>
                        <button class="btn"><i class="fa fa-close"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control">
                            <option value="Mandatory">Mandatory</option>
                            <option value="A' List">A' List</option>
                            <option value="B' List">B' List</option>
                            <option value="Humanistic">Humanistic</option>
                            <option value="Free Choice">Free Choice</option>
                            <option value="Project">Project</option>
                            <option value="Sport">Sport</option>
                            <option value="Exemption">Exemption</option>
                        </select>
                    </td>
                    <td><input class="form-control" max="9999999" min="0" step="1" type="number"></td>
                    <td><input class="form-control" type="text"></td>
                    <td><input class="form-control" max="25" min="0" step="0.5" type="number" value="0.0"></td>
                    <td><input class="form-control" max="100" min="0" step="1" type="number" value="0"></td>
                    <td>
                        <button class="btn"><i class="fa fa-close"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <table class="table table-sm table-light">
                <thead>
                <tr>
                    <th colspan="2" scope="col">Semester summary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="w-75">
                        <span class="input-group-text" id="basic-addon1">Average</span>
                    </td>
                    <td>
                        <input class="form-control" max="100" min="0" readonly type="number" value="0.0">
                    </td class="w-25">
                </tr>
                <tr>
                    <td class="w-75">
                        <span class="input-group-text" id="basic-addon1">Points</span>
                    </td>
                    <td class="w-25">
                        <input aria-describedby="basic-addon1" class="form-control" max="300" min="0" readonly
                               type="number" value="0.0">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>